---
title: 크리에이티브 콘텐츠 랩 연구소
layout: splash
permalink: /
header:
    overlay_color: "#000"
    overlay_filter: "0.5"
    overlay_image: /assets/img/banner.png
---

<p><b>상명대학교 크리에이티브 콘텐츠 랩 연구소에 오신 것을 환영합니다.</b></p>
<p>Welcome to Creative Contents Labs.</p>

<!-- more -->

{% assign sorted_pages = site.board | sort: "date" | reverse %}
{% include gallery-view.html title='Board' pages=sorted_pages url='/board/' limit=3 %}

<!--research-->
{% assign ongoing_pages = site.researches | where: "ongoing", true %}
{% assign other_pages = site.researches | where: "ongoing", false %}

<!-- 진행 중인 항목을 start 순으로 정렬 -->
{% assign ongoing_pages = ongoing_pages | sort: "start" | reverse %}

<!-- 완료된 항목을 start 순으로 정렬 -->
{% assign other_pages = other_pages | sort: "end" | reverse %}

<!-- 두 리스트를 합쳐서 표시 -->
{% assign sorted_pages = ongoing_pages | concat: other_pages %}
{% include gallery-view.html title='Current Researches' pages=sorted_pages url='/researches/' limit=6 %}