---
permalink: /people/
layout: single
---

<h1>2024년도 CCLabs 활동 구성원</h1>

{% include people/list-header.html content='교수 (2명)' %}
{% include people/list-item.html name='김종원' %}
{% include people/list-item.html name='정대식' %}

{% include people/list-header.html content='석사재학생 (3명)' %}
{% include people/list-item.html name='배희재' %}
{% include people/list-item.html name='윤은수' %}
{% include people/list-item.html name='강재하' %}

{% include people/list-header.html content='학부재학생 (3명)' %}
{% include people/list-item.html name='김동주' %}
{% include people/list-item.html name='배상혁' %}
{% include people/list-item.html name='전경민' %}

<br><br><br>
<h1>2023년도 이전 CCLabs 구성원</h1>
<p>2015. 5. 23. 부터 지금까지 CCLabs의 구성원이었던 동문입니다.</p>

{% include people/list-header.html content='전임연구교수' %}
{% include people/list-item.html name='양연경' %}
{% include people/list-item.html name='유세근' %}

{% include people/list-header.html content='수석연구원' %}
{% include people/list-item.html name='김용배' %}

{% include people/list-header.html content='박사졸업생' %}
{% include people/list-item.html name='김예진' %}
{% include people/list-item.html name='김훈' %}
{% include people/list-item.html name='홍일우' %}
{% include people/list-item.html name='강대유' %}

{% include people/list-header.html content='석사졸업생' %}
{% include people/list-item.html name='조정석' %}
{% include people/list-item.html name='홍다정' %}

{% include people/list-header.html content='석사수료생' %}
{% include people/list-item.html name='김한준' %}
{% include people/list-item.html name='한성준' %}

<br><br><br>
<h1>디지털저작권보호연구소(CPRI)</h1>
<p>디지털저작권보호연구소(CPRI)는 크리에이티브 콘텐츠 랩 연구소가 창설되기 이전(2018. 4. 24.)까지 존재하였던 상명대학교의 부설연구기관으로, 크리에이티브 콘텐츠 랩 연구소 활동의 기반이 된 많은 연구와 연구원들을 배출하였습니다.</p>

{% include people/list-header.html content='1대 연구소장' %}
{% include people/list-header.html content='2대 연구소장' %}
{% include people/list-header.html content='졸업생' %}
