<h1 style="position: relative;">
    {{ include.title }}
    <span style="font-size: 0.7em; font-weight: normal; opacity: 0.7;">({{ include.pages.size }})</span>
    {% if include.url %}
        <p style="position: absolute; top: 0; right: 0; font-size: 0.8em;">
            <a href="{{ include.url | relative_url }}" class="btn">... {{ site.data.ui-text[site.locale].more_label | default: "More" }}</a>
        </p>
    {% endif %}
</h1>

<div class="feature__wrapper">
    <ul>
        {% for page in include.pages %}
        <li>{{ page.title }}</li>
        {% endfor %}
    </ul>
</div>