<tr>
    <td style="width: 180px;" rowspan="4"><img src="{{ include.page.image_url }}"/></td>
    <td style="text-align: center; font-weight: bold;">성명<br>(Name)</td>
    <td>
        {{ include.page.name_ko }}
        {% if include.page.name_en %}
            ({{ include.page.name_en }})
        {% endif %}
    </td>
</tr>
<tr>
    <td style="text-align: center; font-weight: bold;">소속<br>(Affiliation)</td>
    <td>
        {% if include.page.affilation %}
            {{ include.page.affilation | markdownify }}
        {% endif %}
    </td>
</tr>
<tr>
    <td style="text-align: center; font-weight: bold;">Email</td>
    <td>
        {% if include.page.email %}
            <a href="mailto:{{ include.page.email }}">{{ include.page.email }}</a>
        {% endif %}
    </td>
</tr>
<tr>
    <td style="text-align: center; font-weight: bold;">관심 분야<br>(Interests)</td>
    <td>
        {% if include.page.interests %}
            {{ include.page.interests }}
        {% endif %}
    </td>
</tr>