{% assign grouped_by_category = site.publications | group_by: "category" %}

<div class="publications">
    {% for category_group in grouped_by_category %}
    <h2>{{ category_group.name }}</h2> <!-- 카테고리 제목 -->

    {% assign grouped_by_year = category_group.items | group_by_exp: "item", "item.date | date: '%Y'" %}

    {% for year_group in grouped_by_year %}
    <h3>{{ year_group.name }}</h3> <!-- 연도 제목 -->

    <ul>
        {% for publication in year_group.items %}
        <li>
            <a href="{{ publication.doi | default: '#' }}" target="_blank">{{ publication.title }}</a>
            <div style="opacity: 0.5;">{{ publication.excerpt | default: publication.content }}</div>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    {% endfor %}
</div>