<style>
    table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
    }

    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
        vertical-align: top;
    }

    th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    td img {
        border-radius: 8px;
        
    }

    .header-cell {
        width: 20%; /* 원하는 너비로 설정 */
    }
    .content-cell {
        width: 40%; /* 원하는 너비로 설정 */
    }
    .header-cell {
        text-align: center;
        font-weight: bold;
        background-color: #f0f0f0;
    }

    .content-cell {
        padding-left: 12px;
    }

    .email-link {
        color: #007BFF;
        text-decoration: none;
    }

    .email-link:hover {
        text-decoration: underline;
    }

    .default-image {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 4px;
        background-color: #f9f9f9;
    }
</style>

<table>
    <tbody>
        <tr>
            <td style="width: 250px;" rowspan="5" class="default-image">
                {% if include.image_url %}
                <img src="{{ include.image_url }} "style="display: flex; justify-content: center; align-items: center;" width="100%" alt="Profile Image" />
                {% else %}
                <img src="/assets/img/people/default.png" style="display: flex; justify-content: center; align-items: center;" width="100%" alt="Default Image" />
                {% endif %}
            </td>
            <td class="header-cell">성명<br>(Name)</td>
            <td class="content-cell">
                {{ include.name_ko }}
                {% if include.name_en %}
                ({{ include.name_en }})
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="header-cell">소속<br>(Affiliation)</td>
            <td class="content-cell">
                {% if include.affilation %}
                {{ include.affilation | markdownify }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="header-cell">Email</td>
            <td class="content-cell">
                {% if include.email %}
                <a href="mailto:{{ include.email }}" class="email-link">{{ include.email }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="header-cell">관심 분야<br>(Interests)</td>
            <td class="content-cell">
                {% if include.interests %}
                {{ include.interests }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="header-cell">현재 연구 내용<br>(Current Researches)</td>
            <td class="content-cell">
                {% if include.current_researches %}
                {{ include.current_researches }}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>